{% extends 'base.html' %}
{% load static %}

{% block content %}
    doc<input type="text" class="doctor_name" id="doctor_name">
    <input type="text" class="doctor_fam" id="doctor_fam">
    <br>
    pat<input type="text" class="patient_name" id="patient_name">
    <input type="text" class="patient_fam" id="patient_fam">
    <br>
    <textarea id="description" cols="30" rows="10"></textarea>
    <button class="create_note" onclick="create_note()">Создать</button>

    <script type="text/javascript" src="{% static 'js/create.js' %}"></script>
{% endblock %}